<!DOCTYPE html>
<html lang="hu">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nyár</title>
    <link href="./css/style.css" rel="stylesheet">
</head>

<body>
    <h1>Nyár</h1>
    <h3><%= title %></h3>
    <img src="./images/cat.png" title="Cica" alt="Cica" style="float:left; height:30vh; width:auto;"  />
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odio libero velit non nesciunt omnis cumque quibusdam,
        neque facilis consectetur, vitae aliquid rem laborum quo officiis sed! Placeat autem sit nam.</p>
    <script src="./js/main.js"></script>
</body>

</html>