<!DOCTYPE html>
<html lang="hu">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dinamikus html tartalom</title>
</head>

<body>
    <div id="sheet">
        <p>
            Az <dfn>EJS</dfn> telepítése: <code>npm install ejs</code>
        </p>
        <p>
            Az <dfn>express</dfn> telepítése: <code>npm install express</code>
        </p>
        <p>
            Az <dfn>body-parser</dfn> telepítése: <code>npm install body-parser</code>
        </p>
        <p> <%= variableName %> </p>
    </div>
</body>

</html>